<div class="header-container header">
    <div class="keyword d-flex">
        <i class="comment fa fa-terminal fs-1 me-2"></i>
        <div class="align-self-center fs-5">Jose Marcelino</div>
    </div>
    <div>
        <a class="comment" [routerLink]="['/']">Home</a>
        <a class="comment" [routerLink]="['/info']">Info</a>
        <a class="comment" [routerLink]="['/projects']">Projects</a>
        <a class="comment" [routerLink]="['/writing']">Writing</a>
        <a class="comment" [routerLink]="['/contact']">Contact</a>
    </div>
</div>